.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-container {
  /* width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

/* .slider {
  width: 600%;
  display: flex;
} */

.slide, .prevButton, .nextButton {
  /* width: 16.666%;
  overflow: hidden; */
  height: 100px;
  width: 33.333%; /* Можно задать любую другую ширину блока */
  /* margin: .5rem; */
}

.slider img {
  width: 100%;
  height: 100%;
}


 /* .container .prev {  
  
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);    
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 }

 .container .next {  
    position: absolute;
    top: 50%;
    left: 735px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);    
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 } */

 .dot-container {
  display: flex;
  justify-content: center;
  align-items: center;

 }

 .slideDot {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(Img/dot.png);
  background-size: contain;
 }

 .slideDot:hover {
  background-image: url(Img/dotOnClick.png);
 }
