/* * {
    margin: 0;
}

html, body {
  font-size: 18px;  
  width: 100%;
  height: 100%;
}

.container {
  min-width: 1200px; 
  height: 1200px;
  margin: 30px auto;
  background: #f1f1f1;
  padding: 30px;
}

img {
  height: 300px;
  width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

button {
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: .9rem;
}

button:hover {
  background: orangered;
}

button:active {
  background: #000;
  color: #fff;
}

.slider{
  width: 256px;
  height: 256px;
  border: 2px solid black;
  margin: 30px auto;
}
.slider-line {
  height: 300px;
  width: 3000px;
  background: orangered;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
} */

body {
  text-align: center;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 600%;
  display: flex;
}

.slide {
  width: 16.666%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

button {
  margin: 10px;
}
